.problem-statement-container {
    padding: 20px;
    max-width: 800px;
    font-family: Arial, sans-serif;
}

.problem-statement-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.problem-statement-container h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.problem-statement-container p,
.problem-statement-container ul,
.problem-statement-container pre {
    margin-bottom: 20px;
}

.problem-statement-container pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.demo-play-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .demo-play-button:hover {
    background-color: #0056b3;
  }
  