.demo-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .demo-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f106aa;
  }
  
  .demo-step {
    margin: 30px 0;
    padding: 20px;
   
    border-radius: 10px;
  }
  
  .demo-step h3 {
    font-size: 1.5rem;
    color: #aecfef;
  }
  
  .demo-step p {
    font-size: 1.2rem;
    color: #aecfef;
  }
  
  .demo-image {
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
    border-radius: 10px;
  }
  
  .demo-play-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .demo-play-button:hover {
    background-color: #2ecc71;
  }
  