.demo-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .demo-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f106aa;
  }
  
  .demo-step {
    margin: 30px 0;
    padding: 20px;
   
    border-radius: 10px;
  }
  
  .demo-step h3 {
    font-size: 1.5rem;
    color: #aecfef;
  }
  
  .demo-step p {
    font-size: 1.2rem;
    color: #aecfef;
  }
  .level-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .level-image {
    width: 250px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    margin: 0 10px;
  }
  .demo-image {
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
    border-radius: 10px;
  }
  
  .demo-play-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .demo-play-button:hover {
    background-color: #2ecc71;
  }
  