/* Navbar styles */
nav {
  background-color: rgba(33, 34, 51, 0.9);
  color: #fff;
  padding: 10px 0;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  margin: 0;
  justify-content: end;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  justify-content: end;
}

nav ul li a {
  color: #8a3eed;
  text-decoration: none;
}

/* User details styles */
.user-details {
  margin-bottom: 20px;
  color: #ccc;
}

.user-details h2 {
  color: #8a3eed;
}

.search-bar {
  margin-bottom: 20px;
}

/* Chart container styles */
.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-item {
  margin: 10px;
}

/* Ensure graphs are shown in 2 per row */
@media (max-width: 768px) {
  .chart-container {
      flex-direction: column;
      align-items: center;
  }

  .chart-item {
      margin: 10px 0;
  }
}

.heatmap-container {
  margin-top: 20px;
}

.heatmap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmap-axis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmap-months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

.heatmap-month {
  width: 60px;
  text-align: center;
}

.heatmap-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
  margin-bottom: 5px;
}

.heatmap-cell {
  display: inline-block;
}

.heatmap-days {
  display: flex;
  justify-content: center;
}

.heatmap-day {
  width: 20px;
  text-align: center;
}
